# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [11]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from resources import gkey

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [12]:
weather_data = pd.read_csv("../WeatherPy/output_data/cities.csv")
weather_data.head()

        city    lat     lon   temp  humidity  cloudiness  wind speed
0    tautira -17.73 -149.15  84.20        54          20        2.24
1  busselton -33.65  115.33  58.32        47          11       11.70
2      kapaa  22.08 -159.32  82.58        66          75       12.75
3   riohacha  11.54  -72.91  82.51        78           3       11.92
4      kathu   7.92   98.33  81.05        94          75        3.36

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [13]:
#API module Day 3, Activity 10

#configure gmaps with API key
gmaps.configure(api_key=gkey)

In [14]:
#store lat and lng into locations as floats
locations = weather_data[["lat","lon"]].astype(float)

#store humidity as float
#https://datatofish.com/convert-string-to-float-dataframe/
weather_data["humidity"] = weather_data["humidity"].astype(float)

In [21]:
fig = gmaps.figure(center = (20,0), zoom_level = 2.2)

heat_layer = gmaps.heatmap_layer(locations, weights=weather_data['humidity'], 
                                 dissipating=False, max_intensity=100, point_radius=2)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [16]:
#narrow cities down to those with ideal weather conditions
ideal_weather_df = weather_data.loc[(weather_data["temp"] >= 75) & (weather_data["temp"] <=85) & (weather_data["humidity"] < 50) & (weather_data["wind speed"] < 20)]

#drop cities with missing data
ideal_weather_df.dropna

#count remaining cities
len(ideal_weather_df)

15

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [17]:
hotel_df = []
ideal_weather_df['Hotel Name'] = ""
ideal_weather_df.head()

C:\Users\halib\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,city,lat,lon,temp,humidity,cloudiness,wind speed,Hotel Name
27,buraydah,26.33,43.98,80.60,32.0,35,4.70,
120,hervey bay,-25.30,152.85,75.31,43.0,4,18.34,
206,camargo,27.67,-105.17,82.60,35.0,53,3.71,
225,price,39.60,-110.81,84.20,14.0,1,11.41,
236,aswan,24.09,32.91,77.74,28.0,0,4.12,

In [18]:
for city in hotel_df[0:5]:
    #geocoordinates
    
    target_coordinates = str(city["lat"] + "," + str(city["lon"])
    target_search = "Hotel"
    target_radius = 5000
    target_type = "hotel"
                            
                            
    params = {
        "location": target_coordinates,
        "rankby": target_search,
        "type": target_type,
        "key": gkey,
    }
    
    #base url
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
                             
    request = requests.get(base_url, params=params)
    response = request.json()

NameError: name 'requsets' is not defined

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure